body {
	background-color: white;
	color: #396E8D;
}

.mrg-top {
	margin-top: 20%;
}
.menu-box {
	margin-top: 10%;
	border: 2px solid #556573;
	padding-top: 4%;
	padding-bottom: 4%;
	padding-left: 2%;
	padding-right: 2%;
}
h1 {
	color: #556573;
}
.logout {
	color: white;
	text-decoration: none;
	font-size: 120%;
	padding-top: 3%;
	margin-left: 0%;
	display: inline;
	background-color: #B8BCBF;
	border: 0px;
}
.menu {
	margin-left: 4%;
}
.logout:hover {
	text-decoration: none;
	color: #E9EEF2;
}
.header {
	background-color: #B8BCBF; 
	border-radius: 0 0 6px 6px;
	margin-bottom: 2%;
	padding-bottom: 2%;
	padding-top: 4%;
	padding-left: 10%;
}
.txt-center {
	text-align: center;
}
.btn-main {
	text-decoration: none;
	background-color: #E9EEF2;
	color: #396E8D;
	padding: 3% 4%;
	width: 100%;
	text-align: center;
	-webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    border-style: none;
	border: 1px solid #396E8D;
	display:block;
	margin-bottom: 2%;
}
.btn-main:hover {
	text-decoration: none;
	color: white;
	background-color: #396E8D;
	border: 1px solid #396E8D;
}
.btn-second {
	background-color: white;
}
.btn-accept {
	background-color: #AC25F5;
	color: white;
}
.btn-accept {
	background-color: #473BCC;
}
th {
	font-size: 90%;
}
thead {
	background-color: #EFE9F2;
}
.error {
	color: red;
	border: 1px solid red;
	width: 100%;
	padding-left: 8px;
	padding-top: 5px;
	padding-bottom: 5px;
}